body {
  font-family: 'Arial', sans-serif;
}

#todolist {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8d4b9d7;
}

.container {
  margin-bottom: 15px;
}

#taskList {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task input[type="checkbox"] {
  margin-right: 1px;
}

.completed-task {
  color: #888;
  
}

#supprimertaches {
  background-color: #fa672d;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor:pointer;
}
